In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#Importing the Dataset
dataset = pd.read_csv('/content/petrol_consumption.csv')

We will again use the head function of the dataframe to see what our data actually looks like:

In [4]:
dataset.head()

   Petrol_tax  Average_income  ...  Population_Driver_licence(%)  Petrol_Consumption
0         9.0            3571  ...                         0.525                 541
1         9.0            4092  ...                         0.572                 524
2         9.0            3865  ...                         0.580                 561
3         7.5            4870  ...                         0.529                 414
4         8.0            4399  ...                         0.544                 410

[5 rows x 5 columns]

In [5]:
dataset.describe()

       Petrol_tax  ...  Petrol_Consumption
count   48.000000  ...           48.000000
mean     7.668333  ...          576.770833
std      0.950770  ...          111.885816
min      5.000000  ...          344.000000
25%      7.000000  ...          509.500000
50%      7.500000  ...          568.500000
75%      8.125000  ...          632.750000
max     10.000000  ...          968.000000

[8 rows x 5 columns]

In [6]:
X = dataset.drop('Petrol_Consumption', axis=1)
y = dataset['Petrol_Consumption']

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [8]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(X_train, y_train)
#To make predictions on the test set, ues the predict method:
y_pred = regressor.predict(X_test)

In [9]:
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})
df

    Actual  Predicted
29     534      547.0
4      410      414.0
26     577      574.0
30     571      554.0
32     577      631.0
37     704      640.0
34     487      628.0
40     587      540.0
7      467      414.0
10     580      498.0

In [10]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 47.8
Mean Squared Error: 3911.8
Root Mean Squared Error: 62.5443842403137